<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->

<widget xmlns= "http://www.w3.org/ns/widgets"

        xmlns:gap="http://phonegap.com/ns/1.0"

        id= "zigiwiz.game"

        version= "1.0.0">

  <name>Battle Grounds</name>
  
    <description>

        Hello World sample application that responds to the deviceready event.

    </description>
<author>
Zigiwiz
</author>
<icon src=“icon.png”/>
</widget>
